@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
h1{
  font-size: 64px;
  font-family: "Lobster", sans-serif ;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-size: 40px;
  font-family: "Lobster", sans-serif ;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 30%;
}

body{
  margin: 0px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  background-size: cover;
  height: 150px;
  width: 100%;
  background-color: hsl(166, 51%, 77%);
}

footer{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
background-size: cover;
height: 475px;
width: 100%;
background-color: hsl(166, 51%, 77%);
font-size: 24px;
}

.ph{
  color: #505B5A;
  font-size: 20px;
}

.recept{
  background-image: url(fon.png);
  background-size: cover;
  height: 843px;
  width: 100%;
  margin: 0%;
}

.rc{
  background-color: #D7F0DD;
  height: 480px;
  width: 450px;
  margin: 35px 60px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


#kck{
  background-color: white;
  width: 430px;
  height: 100px;
  font-size: 32px;
  font-family: "Lobster", sans-serif ;
  width: 400px;
  text-align: center;
}

.poisk{
  background-color: #3AA9A2;
  width: 700px;
  height: 67px;
  border-radius: 35px;
  text-align: center;
  font-size: 24px;
  color: #A9CDD2;
  margin: 90px 540px;
}
 
.td{
  font-size: 32px;
}

.a1{
  background-color: hsl(166, 51%, 77%);
  width: 800px;
  height: 80px;
  border-radius: 15px;
  text-align: center;
  font-size: 48px;
  margin: 100px 500px;
}

#bsh{
  background-color: hsl(167, 62%, 86%);
  width: 1368px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 240px;
}

.bl{
  background-color: grey;
  width: 310px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.a2{
  background-color: hsl(160, 79%, 85%);
  width: 760px;
  height: 275px;
  text-align: center;
  font-size: 24px;
}

.a3{
  background-color: hsl(160, 79%, 85%);
  width: 480px;
  height: 275px;
  display: block;
  justify-content: center;
  align-items: center;
}

#man{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 240px;
}

.reg{
  background-color: #D9D9D9;
  text-align: center;
  width: 408px;
  height: 41px;
  border-radius: 12px;
}